##### PREFIJO #####
# Cambiar prefijo a Ctrl+x
unbind C-b
set-option -g prefix C-x
bind-key C-x send-prefix

##### NUEVA PESTAÑA #####
# Prefijo + t → nueva pestaña
bind t new-window

##### CAMBIAR ENTRE PESTAÑAS #####
# Prefijo + TAB → siguiente pestaña
bind Tab next-window

##### CERRAR PESTAÑA #####
# Prefijo + q → cerrar pestaña actual
bind q kill-window

##### RENOMBRAR PESTAÑA #####
# Prefijo + Alt+t → renombrar pestaña
bind -n M-t command-prompt -I "#W" "rename-window '%%'"

##### PANTALLA DIVIDIDA #####
# Prefijo + ENTER → dividir pantalla (arriba / abajo)
bind Enter split-window -v